.palettelist-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #91f2e0;
  overflow: scroll;
}

.wrapper {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.palettelist-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: rgb(13, 9, 127);
  text-shadow: 2px 5px 8px blueviolet;
}

.palettes {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  grid-gap: 10px;
}

@media (max-width: 768px) {
  .palettes {
    grid-template-columns: repeat(2, 40%);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 640px) {
  .palettes {
    grid-template-columns: none;
    /* grid-gap: 2.5rem; */
  }
}
